@model ClubChallenge.Models.Member
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1 style="margin-top: 0px;">Club Members Login Below!</h1> @*add this to the style for better ipad title -> "text-align: center;"*@
</br>
@using (Html.BeginForm("ClubHours", "Login", FormMethod.Post))
{

    @Html.LabelFor(c => c.PIN)
    @Html.TextBoxFor(c => c.PIN)<br />
    @Html.ValidationMessageFor(c => c.PIN)<br />

    <input type="submit" name="submit" value="ClockIn" />
    <input type="submit" name="submit" value="ClockOut" />
}
</br>


<input type="button" value="Events" onclick="location.href='@Url.Action("ViewEvents", "User")'" /> &nbsp;
<input type="button" value="Admin" onclick="location.href='@Url.Action("AdminLogin","Login")'" /> &nbsp;
<input type="button" value="Volunteering" onclick="location.href='@Url.Action("ViewVolunteerEvents", "User")'" />
