
@model ClubChallenge.Models.Member
@{
    ViewBag.Title = "MemberEdit";
}

<h2>Edit Member</h2>
@using (Html.BeginForm("SaveMember", "Admin"))//calling same function we used to create a new member
{
    @Html.LabelFor(c => c.FirstName)
    @Html.TextBoxFor(c => c.FirstName)<br />
    @Html.LabelFor(c => c.LastName)
    @Html.TextBoxFor(c => c.LastName)<br />
    @Html.LabelFor(c => c.Birthdate)
    @Html.TextBoxFor(c => c.Birthdate, "{0:MM/dd/yyyy}")<br />
    @Html.LabelFor(c => c.PIN)
    @Html.TextBoxFor(c => c.PIN)<br />


    @Html.HiddenFor(m => m.Id)
    <button type="submit">Save</button>
}

<br />
<input type="button" value="Go Back" onclick="location.href='@Url.Action("Members", "Admin")'" />



