
@model ClubChallenge.Models.Member
@{
    /**/

    ViewBag.Title = "Member Details";
}

<h1>Member Details</h1>
@using (Html.BeginForm("MemberEdit", "Admin", new { id = Model.Id }))//passing member id to view
{

    <h3>First Name: @Model.FirstName</h3>
    <h3>Last Name: @Model.LastName</h3>
    <h3>Birthday: @Model.Birthdate.Value.ToShortDateString()</h3>
    <h3> Members PIN: @Model.PIN</h3>
    <h3>Events:  @foreach (var events in Model.Events)
    {
        <ul>
            <li>
                @Html.DisplayFor(m=> events.Name)
                @Html.DisplayFor(m=> events.EventDate)
            </li>
        </ul>


    }</h3>
    <h3>Volunteer Events: @foreach (var vevents in Model.Vevents)
    {
        <ul>
            <li>
                @Html.DisplayFor(m=>vevents.Name)
                @Html.DisplayFor(m=>vevents.VEventDate)
            </li>
        </ul>
    }</h3>

    <input type="submit" value="Edit" />
}

<input type="button" value="Go Back" onclick="location.href='@Url.Action("Members", "Admin")'" />

