@model IEnumerable<ClubChallenge.Models.Member>
@{
    /**/

    ViewBag.Title = "Reports";
}

<table style="width: 100%">
    <tr>
        <th>First Name</th>
        <th>Events</th>
        <th>Volunteer Events/hours</th>
        
        <th>Clock-In</th>
        <th>Clock-Out</th>
    </tr>

    @foreach (var data in Model)
    {
        <tr>
            <td>
                @data.FirstName
            </td>
            <td>
               
                @foreach (var events in data.Events)
                {
                    <text>@events.Name</text>
                }
                    </td>
            <td>
                @foreach(var vevent in data.Vevents)
                {
                    <text>@vevent.Name </text>
                    <text>@vevent.VEventTotalTime</text>
                }
            </td>

            <td>
                @foreach(var inhour in data.Hours)
                {
                    <text>@inhour.ClockIn.ToString() </text>
                }
            </td>
            <td>
                @foreach(var outhour in data.Hours)
                {
                    <text>@outhour.ClockOut.ToString()</text>
                }
            </td>
        </tr>
            }
</table>


