@model IEnumerable<ClubChallenge.Models.Member>
@{
    /**/

    ViewBag.Title = "Reports";
}

<table style="width: 100%">
    <tr>
        <th>Name</th>
        <th>Events</th>
        <th>Volunteer Events</th>
        <th>Volunteering hours</th>
        <th>Clock-In</th>
        <th>Clock-Out</th>
    </tr>

    @foreach (var data in Model)
    {
    <tr>
        <td>
            @data.FirstName
            @data.LastName
        </td>
        <td>

            @foreach (var events in data.Events)
            {
                <text>@events.Name</text>
            }
        </td>
        @foreach (var vevent in data.Vevents)
        {
            <td>

                <text>@vevent.Name </text>


            </td>
            <td>
                <text>@vevent.VEventTotalTime</text>

            </td>
        }
        <td>
            @foreach (var inhour in data.Hours)
            {
                <text>@inhour.ClockIn.ToString() </text>
            }
        </td>
        <td>
            @foreach (var outhour in data.Hours)
            {
                <text>@outhour.ClockOut.ToString()</text>
            }
        </td>
    </tr>
            }
</table>


