@model ClubChallenge.Models.VolunteerEvents
@{
    ViewBag.Title = "VolunteerEventDetails";
}

<h2>Volunteer Event Details</h2>



@using (Html.BeginForm("VolunteerEventEdit", "Admin", new { id = Model.Id }))//passing member id to view
{

    <h3>Name of Event: @Model.Name</h3>
    <h3>Date of Event: @Model.VEventDate.Value.ToShortDateString()</h3>
    <h3>Time Event Starts: @Model.VEventStartTime</h3>
    <h3>Time event Ends: @Model.VEventEndTime</h3>
    <h3>
        Members Attending: @foreach(var mem in Model.Members)
        {
            @Html.DisplayFor(m=>mem.FirstName)
            @Html.DisplayFor(m=>mem.LastName)
        }
    </h3>



    <input type="submit" value="Edit" />
}


<input type="button" value="Go Back" onclick="location.href='@Url.Action("Volunteering", "Admin")'" />